/* mobile responsive styles start */
@media screen and (max-width:570px) {
    /* header, nav and banner */
    nav h2{
    font-size: 1.25rem;
    }
    ul{
    gap: 10px;
    }
    .banner-title{
    max-width: 450px;
    }
    .banner-title h1{
    font-size: 3rem;
    }
    /* quick features */
    .quick-features{
    flex-direction: column;
    text-align: center;
    }
    figure{
    grid-template-columns: 1fr;
    }
    .quick-features-details h2{
    margin-bottom: 20px;
    }

}
